* {
  margin: 0;
  padding: 0;
}
h2{
    align-items: center;
    justify-self:center;
    border:1px solid black;
    padding:1rem;
    background-color: black;
    color:white;
    border-radius: 1rem;
}
p{
    font-size: 1.2rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #bb54ff;
  background: linear-gradient(
    90deg,
    rgba(187, 84, 255, 1) 0%,
    rgb(252, 75, 75) 100%,
    rgb(217, 63, 39) 45%,
    rgb(249, 176, 73) 78%
  );
}
.container{
    background-color: white;
    padding:2rem;
    border-radius: 1rem;
     border:3px solid black;
     min-width: 40vh;
     min-height:45vh;
}
form{
    margin:2rem 0 1rem 0;
}
form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}
form input{
    border:1px solid grey;
    font-size:1rem;
    height:3rem;
    padding-left:0.5rem;
}

.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
 display: flex;
 padding:0.2rem;
 width:6rem;
 align-items: center;
 justify-content: center;
 border-radius: 0.75rem;
 border:1px solid grey;
}
.dropdown i{
    font-size:1.4rem;
    margin-top:1rem;
}
.select-container select{
    font-size:1rem;
    width:auto;
}
.msg{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2rem 0 2rem 0;
    font-size:1.2rem;
    gap:1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
form button{
    height:3rem;
    background-color: black;
    color :white;
    font-size:1.1rem;
    cursor:pointer;
}