@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
  }
  .choices {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  img {
    height: 90px;
    width: 90px;
  }
  .score-board {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  #user-score,
  #comp-score {
    font-size: 2rem;
  }
  .msg-container {
    margin-top: 2rem;
  }
  #msg {
    font-size: 0.7rem;
    padding: 0.4rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    white-space: nowrap;
    width: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(218, 218, 218);
}
h1 {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  display: block;
}
.choice:hover {
  cursor: pointer;
}
.choice:hover {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: rgb(65, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
#user-score,
#comp-score {
  font-size: 3.5rem;
}
.msg-container {
  margin-top: 4rem;
}
#msg {
  background-color: black;
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
